<section class="details-container">
  <div class="belt">
    <div class="details-content">
      <div class="details-image-container">
        <img class="details-image-container__image" src={{oneBook.cover}} alt="{{oneBook.title}}">
      </div>
      <div class="details-dates">
        <p class="details-dates__title"><span class="details-dates__bold">Título:</span> {{oneBook.title}}</p>
        <p class="details-dates__author"><span class="details-dates__bold">Autor:</span> {{oneBook.author}}</p>
        <p class="details-dates__category"><span class="details-dates__bold">Categoría:</span>
          {{oneBook.categories.[0].name}}</p>
        <p class="details-dates__pages"><span class="details-dates__bold">Nº de páginas:</span> {{oneBook.pages}}</p>
        <p class="details-dates__date"><span class="details-dates__bold">Fecha de publicación:</span>
          {{oneBook.publisher_date}}</p>
        <p class="details-dates__description"><span class="details-dates__bold">Descripción: </span>
          <span>{{oneBook.content}}</span></p>
        <p class="details-dates__twitter details-dates__bold">¡Twitea en tu perfil esta reseña!</p>
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button"
          data-text="¡Échale un ojo a mi nueva reseña en BookApp!" data-hashtags="Books #ComoMeGustaLeer" data-lang="es"
          data-show-count="false">Tweet</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>

    <div class="comments-form-container">
      <h2 class="comments-form-container__title">Añadir un comentario</h2>
      <form class="comments-form" action="/addComment/{{oneBook._id}}" method="POST">
        <label class="comments-form__label">Escribe tu comentario:</label>
        <textarea class="comments-form__text" name="content" cols="30" rows="5"></textarea>
        <input class="comments-form__btn" type="submit"  value="Enviar comentario">
      </form>
    </div>

    <div class="comments-container">
      <h2 class="comments-container__title">Comentarios:</h2>
      <ul class="comments">
        {{#each oneBook.comments}}
        <li class="comments-item">
          <div class="comments-ident-container">
            <img class="comments-item__image" src={{this.creatorId.photo.url}} alt="">
            <p class="comments-item__author">{{this.creatorId.username}}</p>
          </div>
          <p class="comments-content">{{this.content}}</p>
        </li>
        {{/each}}
      </ul>
    </div>
  </div>
</section>