<img src={{user.photo.url}}>

<p>Nombre de usuario: {{user.username}}</p>

<button> <a href="/resena">Añadir reseñas</a></button>


<ul>
{{#each user.books}}
<li>
    <img src={{this.cover}}>
  <p>Título:{{this.title}}</p>
  <p>Autor: {{this.author}}</p>
  <p>Categoría: {{this.categories}}</p>

</li>
<a href="/books/{{this._id}}">Ver detalles</a>
{{/each}}
</ul>